/* general */

h1 {
	text-align: center;
}

p {
	text-align: center;
}

/* Portrait */

#portrait {
	border-radius: 60%;
	height: 10%;
	width: 10%;
	display: block;
	margin: auto;
	padding-top: 30px;
}

#title {
	background-color: #757575;
	background-size: cover;
}