/* general */
@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
}

h1 {
	font-family: 'Oswald', sans-serif;
	text-align: center;
	font-size: 60px;
}

p {
	text-align: center;
	font-size: 110%;

}

body {
	position: relative;
}


#section1 {
	padding-top:50px;
	height:auto;
	color: #fff; 
	background-color: #1E88E5;
	background-size: cover;
}
#section2 {
	padding-top:50px;
	height:700px;
	color: #fff; 
	background-color: #1E88E5;
	background-size: cover;
}
#section3 {
	padding-top:50px;
	height:700px;
	color: #fff; 
	background-color: #1E88E5;
	background-size: cover;
}
#section4 {
	padding-top:50px;
	height:700px;
	color: #fff; 
	background-color: #1E88E5;
	background-size: cover;
}
#section5 {
	padding-top:50px;
	height:700px;
	color: #fff; 
	background-color: #1E88E5;
	background-size: cover;
}


/* Portrait */

#portrait {
	border-radius: 60%;
	height: auto;
	width: auto;
	max-width: 20%;
	max-height: 20%;
	display: block;
	margin: auto;
	padding-top: 10px;
}

#title {
	padding-top: 10px;
}

