/* general */
@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
}

h1 {
	font-family: 'Oswald', sans-serif;
	text-align: center;
	font-size: 60px;
}

p {
	text-align: center;
	font-size: 150%;

}

body {
}


#section1 {
	padding-top:50px;
	height:1100px;
	color: #fff; 
	background-color: #1E88E5;
	background-size: cover;
	position: relative;	
}


/* Portrait */

#portrait {
	border-radius: 60%;
	height: auto;
	width: auto;
	max-width: 30%;
	max-height: 20%;
	display: block;
	margin: auto;
	padding-top: 10px;
}

#title {
	padding-top: 10px;
}

